<div class="inline-block text-left">
  <button type="button" class="" id="dropdownMenuButton1" aria-haspopup="true">
     <i class="fas fa-bars text-white py-1 bg-blue" style="font-size:24px;"></i>
  </button>
  <ul class="absolute z-10 left-0 pt-2 mt-2 w-40 bg-blue rounded-md shadow-lg hidden" id="dropdownMenu" role="menu" aria-orientation="vertical" aria-labelledby="dropdownMenuButton1">
    <li><a class="block px-4 py-2 text-sm text-silver hover:bg-gray-100 hover:text-gray-900" href="/groups">Home</a></li>
    <li><%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "block px-4 py-2 text-sm text-silver hover:text-start hover:bg-midnight hover:w-full hover:text-white", role: "menuitem" %></li>
  </ul>
</div>