<div class="dropdown">
  <button class="btn btn-outline border-0" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <i class='fas fa-bars text-white'></i>
  </button>
  <ul class="dropdown-menu rounded-0 bg-color" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Home</a></li>
    <li><%= link_to "Update profile ", edit_user_registration_path, class: "dropdown-item d-none" %></li>
    <li><%= link_to "Change password", edit_user_password_path, class: "dropdown-item d-none" %></li>
    <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
  </ul>
</div>