<div id='splash' class="container d-flex flex-column justify-content-between vh-100 bg-light px-0">
  <h1 class="m-auto">BudgetApp</h1>
  <div class="d-grid mt-n2">
    <%= link_to "Log In", new_user_session_path, class: "btn rounded-0" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn rounded-0" %>
  </div>
</div>